<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
  <div class="footer-container">

    <!-- UBS Logo -->
    <div class="footer-logo">
      <a th:href="@{/}">
        <img th:src="@{/img/UBS_Logo.png}" alt="UBS Logo" />
      </a>
    </div>

    <!-- Links -->
    <div class="footer-link">
      <a href="/imprint">Imprint</a>
    </div>
    <div class="footer-link">
      <a href="/contact">Contact</a>
    </div>
    <div class="footer-link">
      <a href="/privacy">Privacy Policy</a>
    </div>

  </div>
</footer>
</body>
</html>
