<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer">
  <div class="footer-container">

    <!-- UBS Logo -->
    <div class="ubs-logo">
      <a th:href="@{/}">
        <img th:src="@{/img/ubsLogo.svg}" alt="UBS Logo" />
      </a>
    </div>

    <!-- Footer Links -->
    <div class="footer-link"><a th:href="@{/imprint}">Imprint</a></div>
    <div class="footer-link"><a th:href="@{/contact}">Contact</a></div>
    <div class="footer-link"><a th:href="@{/privacy}">Privacy Policy</a></div>

  </div>
</footer>
</body>
</html>