<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Pagination Fragment -->
<div th:fragment="pagination(currentPage, prevNumberPage, nextNumberPage)">
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Seiten-Navigation">
            <ul class="pagination align-items-center">

                <!-- Vorheriger Pfeil -->
                <li class="page-item">
                    <a class="page-link" href="#"
                       id="prevPage"
                       >
                        &laquo;
                    </a>
                </li>

                <!-- Aktuelle Seite als Button -->
                <li class="page-item">
                    <a class="page-link"
                       href="#"
                       id="prevNumberPage"
                       th:text="${prevNumberPage}"
                       >
                    </a>
                </li>

                <!-- Input-Feld -->
                <li class="page-item">
                    <input
                            type="text"
                            id="pageInput"
                            class="form-control text-center mx-1"
                            th:value="${currentPage}"
                            inputmode="numeric"
                            pattern="[0-9]*"
                    >
                </li>

                <!-- Nächste Seitenzahl -->
                <li class="page-item">
                    <a class="page-link"
                       href="#"
                       id="nextNumberPage"
                       th:text="${nextNumberPage}"
                       >
                    </a>
                </li>

                <!-- Nächster Pfeil -->
                <li class="page-item">
                    <a class="page-link" href="#"
                       id="nextPage"
                       >
                        &raquo;
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>

</body>
</html>
