<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Imprint</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/script.js}"></script>
</head>

<body style="height: 100%; margin: 0; display: grid; grid-template-rows: auto 1fr auto;">

<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>


<main class="privacy-wrapper" style="align-self: start;">
    <div class="privacy-box">
        <h2>Imprint</h2>

        <p><strong>Responsible for the content of this website</strong><br>
            UBS Junior Talent Lab<br>
            Max-Högger-Strasse 81<br>
            8048 Zürich<br>
            UBS VZA1<br>
            Switzerland</p>

        <p><strong>Project team:</strong><br>
            - <span class="team-member" data-email="darian.germann@ubs.com" data-role="Product Owner">Darian Germann</span><br>
            - <span class="team-member" data-email="zoran.varnicic@ubs.com" data-role="Scrum Master">Zoran Varnicic</span><br>
            - <span class="team-member" data-email="nils.spycher@ubs.com" data-role="Developer">Nils Spycher</span><br>
            - <span class="team-member" data-email="elin.sigg@ubs.com" data-role="Developer">Elin Sigg</span><br>
            - <span class="team-member" data-email="tanushree.varma@ubs.com" data-role="Developer">Tanushree Varma</span><br>
            - <span class="team-member" data-email="madox.laeubli@ubs.com" data-role="Developer">Madox Laeubli</span></p>

        <p><strong>Notice:</strong><br>
            This is an internal project as part of the UBS Junior Talent Lab. The content of this website is for internal use only.</p>
    </div>

    <!-- Business Card Tooltip -->
    <div class="business-card" id="businessCard">
        <div class="card-name"></div>
        <div class="card-role"></div>
        <div class="card-email"></div>
    </div>

</main>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>