<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Imprint</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <script th:src="@{/js/script.js}"></script>
</head>

<body>

<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Main Content -->
<main class="privacy-wrapper">
  <div class="privacy-box">
    <h2>Imprint</h2>

    <p><strong>Responsible for the content of this website</strong><br>
      UBS Junior Talent Lab<br>
      Max-Högger-Strasse 81<br>
      8048 Zürich<br>
      UBS VZA1<br>
      Switzerland</p>

    <p><strong>Project team:</strong><br>
      - Darian Germann (Product Owner)<br>
      - Zoran Varnicic (Scrum Master)<br>
      - Nils Spycher<br>
      - Elin Sigg<br>
      - Tanushree Varma<br>
      - Madox Laeubli</p>

    <p><strong>Contact:</strong><br>
      <a href="mailto:darian.germann@ubs.com">darian.germann@ubs.com</a><br>
      <a href="mailto:zoran.varnicic@ubs.com">zoran.varnicic@ubs.com</a><br>
      <a href="mailto:nils.spycher@ubs.com">nils.spycher@ubs.com</a><br>
      <a href="mailto:elin.sigg@ubs.com">elin.sigg@ubs.com</a><br>
      <a href="mailto:tanushree.varma@ubs.com">tanushree.varma@ubs.com</a><br>
      <a href="mailto:madox.laeubli@ubs.com">madox.laeubli@ubs.com</a>
    </p>

    <p><strong>Notice:</strong><br>
      This is an internal project as part of the UBS Junior Talent Lab. The content of this website is for internal use only.</p>
  </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>